 


/* Custom styles for the pricing cards */
.card-header { /* Light gray background for the header */
    border-bottom: none;
  }
  
  .card-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
  }
  
  .pricing-card-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    border-bottom: none;
  }
  
  .list-unstyled {
    font-size: 1.0rem;
    text-align: left;
    width: 100%;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    margin-top: auto; /* Push the button to the bottom */
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  .hello{
    color: #6c757d !important;
    text-transform: uppercase;
  }
  
  .text-muted {
    color: #6c757d !important;
  }
  
  .card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header h4 {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .card-body ul {
    padding: 0;
    list-style: none;
  }

  body{margin-top:20px;}
.pricing-box {
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
  padding: 35px 50px;
  border-radius: 20px;
  position: relative;
}

.pricing-box .plan {
  font-size: 34px;
}

.pricing-badge {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 0;
  overflow: hidden;
  height: 100px;
}

.pricing-badge .badge {
  float: right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -67px;
  top: 17px;
  position: relative;
  text-align: center;
  width: 200px;
  font-size: 13px;
  margin: 0;
  padding: 7px 10px;
  font-weight: 500;
  color: #ffffff;
  background: #fb7179;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
p {
    line-height: 1.7;
}
  
  